<header>
    <div class="container-fluid">
        <div class="contact-section">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="left-side">
                        <h2>Welcome To Weevit!</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="right-side">
                        <ul>
                            <!-- <li>
                                <a href="" class="icon-btn">
                                    <img class="img-fluid" src="../assets/../assets/images/food-stand.png" alt="icon">
                                    <span>Become A Vendor</span>
                                </a>
                            </li> -->
                            <li>
                                <a href="" class="icon-btn">
                                    <span>Contact</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="icon-btn">
                                    <img class="img-fluid" src="../assets/images/sign-in.png" alt="icon">
                                    <span>Sign in / Register</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-bar">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                    <div class="brand-logo">
                        <a href="">
                            <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-8
                        ml-auto">
                    <div class="search-section">
                        <div class="form-group">
                            <img class="img-fluid" src="../assets/images/search-icon.png" alt="icon">
                            <input type="text" class="form-control" id="search" placeholder="Search for products or brands">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="wishlist-section">
                        <ul>
                            <li>
                                <a href="" class="icon-btn">
                                    <img class="img-fluid" src="../assets/images/telephone.png" alt="icon">
                                    <span>0(800)123-456</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="label-icon">
                                    <img class="img-fluid" src="../assets/images/heart.png" alt="icon">
                                    <span>0</span>
                                </a>
                            </li>
                            <li>
                                <div class="cart-section">
                                    <div class="cart-details">
                                        <p class="cart-title">Shopping Cart
                                        </p>
                                        <p class="dollar">$0.00</p>
                                    </div>
                                    <div class="cart-icon">
                                        <a href="" class="label-icon">
                                            <img class="img-fluid" src="../assets/images/shopping-bag.png" alt="icon">
                                            <span>0</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <nav class="navbar navbar-expand-lg">
        <div class="category-button-section">
            <a class="category-btn" href="">
                <img src="../assets/images/options-lines.png" class="img-fluid" alt="">
                <span>
                    Categories
                </span>
            </a>
        </div>
  
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="navbar-toggler-icon fas fa-grip-lines"></i>
        </button>
  
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Vendor</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/faqs">FAQ’s</a>
                </li>
                <div class="right-side">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Become A Vendor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign In / Register</a>
                    </li>
                </div>
            </ul>
            <!-- <div class="right-side">
                <ul>
                    <li>
                        <a href="" class="icon-btn">
                            <img class="img-fluid" src="../assets/images/food-stand.png" alt="icon">
                            <span>Become A Vendor</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="icon-btn">
                            <span>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="icon-btn">
                            <img class="img-fluid" src="../assets/images/sign-in.png" alt="icon">
                            <span>Sign in / Register</span>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
  </header>