<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 cool-12">
                <div class="footer-wrapper p-0">
                    <div class="footer-title">
                        <img class="img-fluid" src="../assets/images/footer-logo.png" alt="">
                    </div>
                    <div class="footer-items">
                        <ul>
                            <li>
                                <p class="sub-title">Got A Question? Call Us 24/7</p>
                            </li>
                            <li>
                                <a href="" class="icon-btn">
                                    <img class="img-fluid" src="../assets/images/telepone2.png" alt="icon">
                                    <span>+1(202)20210</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="icon-btn">
                                    <img class="img-fluid" src="../assets/images/email.png" alt="icon">
                                    <!-- <span>Johndoe@gmail.com</span> -->
                                </a>
                            </li>
                            <li>
                                <a href="" class="icon-btn">
                                    <img class="img-fluid" src="../assets/images/pin.png" alt="icon">
                                    <span>Lorem Ipsum is simply dummy</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 cool-12">
                <div class="footer-wrapper">
                    <div class="footer-title">
                        <h3>Useful Link</h3>
                    </div>
                    <div class="footer-items">
                        <ul>
                            <li>
                                <a class="footer-links" href="">Home</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Products</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Register</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Contact
                                    Us</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Help</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Daily
                                    Needs</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Category</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">About Us
                                </a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 cool-12">
                <div class="footer-wrapper">
                    <div class="footer-title">
                        <h3>Customer Service</h3>
                    </div>
                    <div class="footer-items">
                        <ul>
                            <li>
                                <a class="footer-links" href="">Payment
                                    Method</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Money
                                    Back Gaurantee</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Product
                                    Return</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Support
                                    Center</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Shipping</a>
                            </li>
                            <li>
                                <a class="footer-links" href="">Terms &
                                    Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-wrapper">
                    <div class="footer-title">
                        <h3>Join Our Newsletter Now</h3>
                    </div>
                    <div class="footer-items">
                        <ul>
                            <li>
                                <a class="footer-links" href="">Be the
                                    first to know. sign up to
                                    newsletter to day</a>
                            </li>
                            <li>
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" placeholder="Your E-mail
                                                Address">
                                    </div>
                                </form>
                            </li>
                            <li>
                                <a class="btn-common" href="">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-icons">
                    <ul>
                        <li>
                            <a href="">
                                <img src="../assets/images/facebook.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../assets/images/twitter.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../assets/images/instagram.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../assets/images/pinterest.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>