<div class="about-section">
  <div class="container">
    <div class="about-wrapper">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="details-section">
            <p class="title pb-3">EFFECTIVE FOR SKIN</p>
            <h1 class="h1-heading pb-4">Guaranteed Result In 2 Weeks</h1>
            <p class="description">
              Quickly pursue granular synergy after just-in-time niche markets.
              Phosfluorescently syndicate sticky content whereas robust
              resources. Uniquely target integrated meta-services and
              inexpensive process improvements. Distinctively matrix robust
              ideas through customer-directed leadership skills. Efficiently
              evolve.
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
          <div class="image-section">
            <img
              class="img-fluid"
              src="../../assets/images/skin.jpg"
              alt="skin"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="count-wrapper">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
            <div>
              <h1 class="h1-heading">
                Luxurious & Premium Essential Daily Use Cosmetic Product
              </h1>
            </div>
          </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="details">
            <p class="description pb-4">
              Duis ultricies lacus sed turpis tincidunt id aliquet risus
              feugiat. Gravida dictum fusce ut placerat orci. Et leo duis ut
              diam quam nulla porttitor massa. Ipsum nunc aliquet bibendum enim.
              Arcu bibendum at varius vel pharetra.
            </p>
            <ul>
              <li>
                <p class="count">12k+</p>
                <p class="sub">Beauty Products</p>
              </li>
              <li>
                <p class="count">5k+</p>
                <p class="sub">Employees</p>
              </li>
              <li>
                <p class="count">20k+</p>
                <p class="sub">Happy Users</p>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
